<div class="p-2 bd-highlight ">
    <div class="card mt-2" *ngFor="let elem of data">
        <div class="card-header">
            {{elem.title}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{elem.description}}</h5>
            <p class="card-text">Valor: R${{elem.price}}</p>
            <!-- <button href="#" class="btn btn-primary">Editar</button> -->
            <button href="#" class="btn btn-danger" (click)="remover(elem._id)">Remover</button>
        </div>
      </div>
</div>
