<div class="mb-3">
    <label class="form-label">Nome</label>
    <input type="email" class="form-control" placeholder="Ex: Laranja">
</div>
<div class="mb-3">
    <label class="form-label">Valor</label>
    <input type="number" class="form-control" placeholder="Ex: 15,99">
</div>
<div class="mb-3">
    <label class="form-label">Descrição</label>
    <textarea class="form-control" rows="3" placeholder="Ex: Fruta doce"></textarea>
</div>
<div>
    <button class="btn btn-success" (click)="editarDados()" [routerLink]="['/']">Enviar</button>
</div>